.header {
  width: 100%;
  color: white;
  background: #5F9EA0;
  text-align: center;
  border: 1px solid #B0C4DE;
  border-bottom: none;
  border-radius: 10px 10px 0px 0px;
  padding: 15px;
}
.btn {
  font-size: 15px;
  background: #5F9EA0;
  border: none;
}
#error
{
  text-align: center;
  display: none;
}